include/

lib/

*/.DS_Store

eCommerce.sublime-project

eCommerce.sublime-workspace

pip-selfcheck.json

.Python

src/ecommerce/__pycache__

src/ecommerce/__init__.py

# ignore the document static_cdn
static_cdn

#ignore the document src/static_my_proj/img
src/static_my_proj/img

#ignore the __init__.py
src/products/__init__.py
src/products/migrations

#ignore the draft code
src/products/templates/bootstrap/

#ignore the init and cache in search component
src/search/migrations
src/search/__init__.py
src/search/__pycache__

#ignore the shell draft
src/tags/shell_commands.py