include/

lib/

*/.DS_Store

eCommerce.sublime-project

eCommerce.sublime-workspace

pip-selfcheck.json

.Python

src/ecommerce/_pycache_/

src/ecommerce/_init_.py

# ignore the document static_cdn
static_cdn

#ignore the document src/static_my_proj/img
src/static_my_proj/img

#ignore the _init_.py
src/products/_init.py
src/products/migrations
