boto==2.48.0
boto3==1.6.11
botocore==1.9.11
certifi==2018.1.18
cfe==0.0.15
chardet==3.0.4
dj-database-url==0.5.0
Django==1.11
django-crispy-forms==1.7.2
django-storages==1.6.5
docutils==0.14
gitdb2==2.0.3
GitPython==2.1.8
gunicorn==19.7.1
heroku==0.1.4
idna==2.6
jmespath==0.9.3
Pillow==5.0.0
psycopg2==2.7.4
python-dateutil==2.7.0
pytz==2018.3
requests==2.18.4
s3transfer==0.1.13
six==1.11.0
smmap2==2.0.3
stripe==1.79.1
urllib3==1.26.5
whitenoise==3.3.1
