certifi==2018.1.18
cfe==0.0.15
chardet==3.0.4
dj-database-url==0.5.0
django-crispy-forms==1.7.2
django==2.0.3
gitdb2==2.0.3
gitpython==2.1.8
gunicorn==19.7.1
heroku==0.1.4
idna==2.6
pillow==5.0.0
pip==9.0.1
psycopg2==2.7.4
python-dateutil==2.7.0
pytz==2018.3
requests==2.18.4
setuptools==38.6.0
six==1.11.0
smmap2==2.0.3
stripe==1.79.1
urllib3==1.22
wheel==0.30.0
whitenoise==3.3.1
